# Shark_vs_dragons

## 1 Libraries

In [1]:
#Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## 2 Import databases

In [2]:
#Store csv in variable "shark ent" (shark entrepreneur).
shark_ent = pd.read_csv("~/Desktop/Shark_vs_dragons/shark_tank_companies.csv")

In [3]:
#Take a peak at df
shark_ent.head()

,deal,description,episode,category,entrepreneurs,location,website,askedfor,exchangeforstake,valuation,season,shark1,shark2,shark3,shark4,shark5,title,episode_season,multiple_entreprenuers
0,False,Bluetooth device implant for your ear.,1,Novelties,Darrin Johnson,"St. Paul, MN",NaN,1000000,15,6666667,1,Barbara Corcoran,Robert Herjavec,Kevin O'Leary,Daymond John,Kevin Harrington,Ionic Ear,1-1,False
1,True,Retail and wholesale pie factory with two reta...,1,Specialty Food,Tod Wilson,"Somerset, NJ",http://whybake.com/,460000,10,4600000,1,Barbara Corcoran,Robert Herjavec,Kevin O'Leary,Daymond John,Kevin Harrington,Mr. Tod's Pie Factory,1-1,False
2,True,Ava the Elephant is a godsend for frazzled par...,1,Baby and Child Care,Tiffany Krumins,"Atlanta, GA",http://www.avatheelephant.com/,50000,15,333333,1,Barbara Corcoran,Robert Herjavec,Kevin O'Leary,Daymond John,Kevin Harrington,Ava the Elephant,1-1,False
3,False,"Organizing, packing, and moving services deliv...",1,Consumer Services,"Nick Friedman, Omar Soliman","Tampa, FL",http://collegehunkshaulingjunk.com/,250000,25,1000000,1,Barbara Corcoran,Robert Herjavec,Kevin O'Leary,Daymond John,Kevin Harrington,College Foxes Packing Boxes,1-1,False
4,False,Interactive media centers for healthcare waiti...,1,Consumer Services,Kevin Flannery,"Cary, NC",http://www.wispots.com/,1200000,10,12000000,1,Barbara Corcoran,Robert Herjavec,Kevin O'Leary,Daymond John,Kevin Harrington,Wispots,1-1,False

In [4]:
#Store csv in variable "shark inv" (shark investor)
shark_inv = pd.read_csv("~/Desktop/Shark_vs_dragons/shark_tank_deals.csv")

In [5]:
#Take a peak at df
shark_inv.head()

,Season_Epi_code,Pitched_Business_Identifier,Pitched_Business_Desc,Deal_Status,Deal_Shark
0,826,Bridal Buddy,a functional slip worn under a wedding gown th...,1,KOL+LG
1,826,Laid Brand,hair-care products made with pheromones . Laid...,0,NaN
2,826,Rocketbook,a notebook that can scan contents to cloud ser...,0,NaN
3,826,Wine & Design,painting classes with wine served . Wine & Des...,1,KOL
4,824,Peoples Design,a mixing bowl with a built-in scoop . Peoples ...,1,LG

In [6]:
#Get info on df
shark_inv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 706 entries, 0 to 705
Data columns (total 5 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Season_Epi_code              706 non-null    int64
 1   Pitched_Business_Identifier  706 non-null    object
 2   Pitched_Business_Desc        706 non-null    object
 3   Deal_Status                  706 non-null    int64
 4   Deal_Shark                   383 non-null    object
dtypes: int64(2), object(3)
memory usage: 27.7+ KB

In [7]:
#Get info on df
shark_inv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 706 entries, 0 to 705
Data columns (total 5 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Season_Epi_code              706 non-null    int64
 1   Pitched_Business_Identifier  706 non-null    object
 2   Pitched_Business_Desc        706 non-null    object
 3   Deal_Status                  706 non-null    int64
 4   Deal_Shark                   383 non-null    object
dtypes: int64(2), object(3)
memory usage: 27.7+ KB

In [8]:
#Create a copy of df
shark_ent_copy = shark_ent.copy()

In [9]:
#Create a copy of df
shark_inv_copy = shark_inv.copy()

In [10]:
#Merge dfs with a left join (keeping shark_ent as a base)
shark_merged = pd.merge(shark_inv, shark_ent, left_on = "Pitched_Business_Identifier",  right_on = "title", how="left")

In [11]:
#Take a peak at new df
shark_merged

,Season_Epi_code,Pitched_Business_Identifier,Pitched_Business_Desc,Deal_Status,Deal_Shark,deal,description,episode,category,entrepreneurs,...,valuation,season,shark1,shark2,shark3,shark4,shark5,title,episode_season,multiple_entreprenuers
0,826,Bridal Buddy,a functional slip worn under a wedding gown th...,1,KOL+LG,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,826,Laid Brand,hair-care products made with pheromones . Laid...,0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,826,Rocketbook,a notebook that can scan contents to cloud ser...,0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,826,Wine & Design,painting classes with wine served . Wine & Des...,1,KOL,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,824,Peoples Design,a mixing bowl with a built-in scoop . Peoples ...,1,LG,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
705,101,Ava the Elephant,"(Emmy the Elephant during show, trademarked a...",1,BC,True,Ava the Elephant is a godsend for frazzled par...,1.0,Baby and Child Care,Tiffany Krumins,...,333333.0,1.0,Barbara Corcoran,Robert Herjavec,Kevin O'Leary,Daymond John,Kevin Harrington,Ava the Elephant,1-1,False
706,101,College Foxes Packing Boxes,a packing and organizing service based on an a...,0,NaN,False,"Organizing, packing, and moving services deliv...",1.0,Consumer Services,"Nick Friedman, Omar Soliman",...,1000000.0,1.0,Barbara Corcoran,Robert Herjavec,Kevin O'Leary,Daymond John,Kevin Harrington,College Foxes Packing Boxes,1-1,False
707,101,Ionic Ear,an implantable Bluetooth device requiring surg...,0,NaN,False,Bluetooth device implant for your ear.,1.0,Novelties,Darrin Johnson,...,6666667.0,1.0,Barbara Corcoran,Robert Herjavec,Kevin O'Leary,Daymond John,Kevin Harrington,Ionic Ear,1-1,False
708,101,Mr. Tod's Pie Factory,a pie company,1,BC+DJ,True,Retail and wholesale pie factory with two reta...,1.0,Specialty Food,Tod Wilson,...,4600000.0,1.0,Barbara Corcoran,Robert Herjavec,Kevin O'Leary,Daymond John,Kevin Harrington,Mr. Tod's Pie Factory,1-1,False
709,101,Wispots,an electronic hand-held device for waiting roo...,0,NaN,False,Interactive media centers for healthcare waiti...,1.0,Consumer Services,Kevin Flannery,...,12000000.0,1.0,Barbara Corcoran,Robert Herjavec,Kevin O'Leary,Daymond John,Kevin Harrington,Wispots,1-1,False

In [12]:
#Get info on df
shark_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 710 entries, 0 to 709
Data columns (total 24 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Season_Epi_code              710 non-null    int64
 1   Pitched_Business_Identifier  710 non-null    object
 2   Pitched_Business_Desc        710 non-null    object
 3   Deal_Status                  710 non-null    int64
 4   Deal_Shark                   385 non-null    object
 5   deal                         395 non-null    object
 6   description                  395 non-null    object
 7   episode                      395 non-null    float64
 8   category                     395 non-null    object
 9   entrepreneurs                342 non-null    object
 10  location                     395 non-null    object
 11  website                      363 non-null    object
 12  askedfor                     395 non-null    float64
 13  exchangeforstake             395 non-null    float64
 14  valuation                    395 non-null    float64
 15  season                       395 non-null    float64
 16  shark1                       395 non-null    object
 17  shark2                       395 non-null    object
 18  shark3                       395 non-null    object
 19  shark4                       395 non-null    object
 20  shark5                       395 non-null    object
 21  title                        395 non-null    object
 22  episode_season               395 non-null    object
 23  multiple_entreprenuers       395 non-null    object
dtypes: float64(5), int64(2), object(17)
memory usage: 138.7+ KB

In [96]:
shark_merged_copy = shark_merged.copy()

## 3 Data Wrangling

### 3.1 Dealing with missing values

In [97]:
#Identify missing values
shark_merged.isna().sum().sort_values(ascending = False)

entrepreneurs                  368
website                        347
Deal_Shark                     325
askedfor                       315
deal                           315
description                    315
episode                        315
category                       315
location                       315
episode_season                 315
multiple_entreprenuers         315
exchangeforstake               315
valuation                      315
season                         315
shark1                         315
shark2                         315
shark3                         315
shark4                         315
shark5                         315
title                          315
Deal_Status                      0
Pitched_Business_Desc            0
Pitched_Business_Identifier      0
Season_Epi_code                  0
dtype: int64

In [98]:
#Store missing values in a variable
missing_values = shark_merged_copy.isna().sum().sort_values(ascending = False)

In [99]:
#Find out the length of the df
len(shark_merged_copy)

710

In [100]:
#Determine the percentage of missing values
percentage_missing_values = round(missing_values/len(shark_merged_copy),2)
percentage_missing_values

entrepreneurs                  0.52
website                        0.49
Deal_Shark                     0.46
askedfor                       0.44
deal                           0.44
description                    0.44
episode                        0.44
category                       0.44
location                       0.44
episode_season                 0.44
multiple_entreprenuers         0.44
exchangeforstake               0.44
valuation                      0.44
season                         0.44
shark1                         0.44
shark2                         0.44
shark3                         0.44
shark4                         0.44
shark5                         0.44
title                          0.44
Deal_Status                    0.00
Pitched_Business_Desc          0.00
Pitched_Business_Identifier    0.00
Season_Epi_code                0.00
dtype: float64

In [101]:
#Analyze column entrepreneurs
shark_merged_copy[shark_merged_copy["entrepreneurs"].isna()]["season"].value_counts()

5.0    42
6.0    10
4.0     1
Name: season, dtype: int64

In [102]:
#Look at similar columns, and start with column "season"
shark_merged_copy["season"].value_counts()

6.0    97
5.0    83
4.0    81
1.0    54
3.0    47
2.0    33
Name: season, dtype: int64

In [103]:
#See seasons and episodes (first letter refers to season)
print(sorted(set(shark_merged_copy["Season_Epi_code"])))

[101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 201, 202, 203, 204, 205, 206, 207, 208, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 701, 702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714, 715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727, 728, 729, 801, 802, 803, 804, 805, 806, 807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818, 819, 820, 822, 823, 824, 826]

In [104]:
#Check merged copy with episodes equal to or higher than 701
shark_merged_copy.loc[shark_merged_copy["Season_Epi_code"] >= 701]

,Season_Epi_code,Pitched_Business_Identifier,Pitched_Business_Desc,Deal_Status,Deal_Shark,deal,description,episode,category,entrepreneurs,...,valuation,season,shark1,shark2,shark3,shark4,shark5,title,episode_season,multiple_entreprenuers
0,826,Bridal Buddy,a functional slip worn under a wedding gown th...,1,KOL+LG,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,826,Laid Brand,hair-care products made with pheromones . Laid...,0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,826,Rocketbook,a notebook that can scan contents to cloud ser...,0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,826,Wine & Design,painting classes with wine served . Wine & Des...,1,KOL,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,824,Peoples Design,a mixing bowl with a built-in scoop . Peoples ...,1,LG,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
207,702,Splikity,password manager software that can sync across...,0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
208,701,Acton,motorized roller skates that strap onto shoes ...,0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
209,701,McClary Bros. Drinking Vinegars,a line of vinegars to be used in cocktails and...,0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
210,701,SignalVault,a protector for credit cards to prevent them f...,1,LG+RH,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
211,701,The Beebo,a baby bottle holder to make feeding easier . ...,1,LG,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [105]:
#Drop rows of episodes equal to or higher than 701
shark_merged_copy.drop(shark_merged_copy.loc[shark_merged_copy["Season_Epi_code"] >= 701].index, inplace = True)

In [106]:
#Check if the numbers have been removed
print(sorted(set(shark_merged_copy["Season_Epi_code"])))

[101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 201, 202, 203, 204, 205, 206, 207, 208, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629]

In [107]:
#See which values are still missing
shark_merged_copy.isna().sum()

Season_Epi_code                  0
Pitched_Business_Identifier      0
Pitched_Business_Desc            0
Deal_Status                      0
Deal_Shark                     242
deal                           103
description                    103
episode                        103
category                       103
entrepreneurs                  156
location                       103
website                        135
askedfor                       103
exchangeforstake               103
valuation                      103
season                         103
shark1                         103
shark2                         103
shark3                         103
shark4                         103
shark5                         103
title                          103
episode_season                 103
multiple_entreprenuers         103
dtype: int64

In [108]:
shark_merged_copy.dtypes

Season_Epi_code                  int64
Pitched_Business_Identifier     object
Pitched_Business_Desc           object
Deal_Status                      int64
Deal_Shark                      object
deal                            object
description                     object
episode                        float64
category                        object
entrepreneurs                   object
location                        object
website                         object
askedfor                       float64
exchangeforstake               float64
valuation                      float64
season                         float64
shark1                          object
shark2                          object
shark3                          object
shark4                          object
shark5                          object
title                           object
episode_season                  object
multiple_entreprenuers          object
dtype: object

In [112]:
shark_merged_copy['episode'] = shark_merged_copy['episode'].astype(int, errors='ignore')
shark_merged_copy

,Season_Epi_code,Pitched_Business_Identifier,Pitched_Business_Desc,Deal_Status,Deal_Shark,deal,description,episode,category,entrepreneurs,...,valuation,season,shark1,shark2,shark3,shark4,shark5,title,episode_season,multiple_entreprenuers
212,629,Bee Thinking,beehives in various modern designs . Matt Reed...,0,NaN,False,Bee Thinking crafts beautiful bee hives in Por...,24.0,Professional Services,Matt Reed,...,4000000.0,6.0,Lori Greiner,Robert Herjavec,Kevin O'Leary,Daymond John,Mark Cuban,Bee Thinking,6-24,False
213,629,Budsies,a company that creates custom plush toys based...,0,NaN,False,Budsies magically transforms any artwork into ...,24.0,Toys and Games,Alex Furmansky,...,2000000.0,6.0,Lori Greiner,Robert Herjavec,Kevin O'Leary,Daymond John,Mark Cuban,Budsies,6-24,False
214,629,Forus Athletics,workout and athletic shoes,0,NaN,False,Lightweight yet supportive and extremely comfo...,24.0,Men and Women's Shoes,Joel Vinocur and Arsene Millogo,...,1333333.0,6.0,Lori Greiner,Robert Herjavec,Kevin O'Leary,Daymond John,Mark Cuban,Forus Athletics,6-24,True
215,629,PullyPalz,a pulley system to keep two pacifiers availabl...,1,LG,True,A baby toy that helps them retrieve dropped pa...,24.0,Baby and Child Care,Julie Thompson,...,500000.0,6.0,Lori Greiner,Robert Herjavec,Kevin O'Leary,Daymond John,Mark Cuban,PullyPalz,6-24,False
216,628,BeeSweet Lemonade,honey-sweetened lemonade with flaxseed,1,DJ,True,BeeSweet Lemonade uses locally sourced honey. ...,23.0,Non-Alcoholic Beverages,Mikaila and Theo Ulmer,...,600000.0,6.0,Lori Greiner,Robert Herjavec,Kevin O'Leary,Daymond John,Mark Cuban,BeeSweet Lemonade,6-23,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
705,101,Ava the Elephant,"(Emmy the Elephant during show, trademarked a...",1,BC,True,Ava the Elephant is a godsend for frazzled par...,1.0,Baby and Child Care,Tiffany Krumins,...,333333.0,1.0,Barbara Corcoran,Robert Herjavec,Kevin O'Leary,Daymond John,Kevin Harrington,Ava the Elephant,1-1,False
706,101,College Foxes Packing Boxes,a packing and organizing service based on an a...,0,NaN,False,"Organizing, packing, and moving services deliv...",1.0,Consumer Services,"Nick Friedman, Omar Soliman",...,1000000.0,1.0,Barbara Corcoran,Robert Herjavec,Kevin O'Leary,Daymond John,Kevin Harrington,College Foxes Packing Boxes,1-1,False
707,101,Ionic Ear,an implantable Bluetooth device requiring surg...,0,NaN,False,Bluetooth device implant for your ear.,1.0,Novelties,Darrin Johnson,...,6666667.0,1.0,Barbara Corcoran,Robert Herjavec,Kevin O'Leary,Daymond John,Kevin Harrington,Ionic Ear,1-1,False
708,101,Mr. Tod's Pie Factory,a pie company,1,BC+DJ,True,Retail and wholesale pie factory with two reta...,1.0,Specialty Food,Tod Wilson,...,4600000.0,1.0,Barbara Corcoran,Robert Herjavec,Kevin O'Leary,Daymond John,Kevin Harrington,Mr. Tod's Pie Factory,1-1,False
709,101,Wispots,an electronic hand-held device for waiting roo...,0,NaN,False,Interactive media centers for healthcare waiti...,1.0,Consumer Services,Kevin Flannery,...,12000000.0,1.0,Barbara Corcoran,Robert Herjavec,Kevin O'Leary,Daymond John,Kevin Harrington,Wispots,1-1,False

In [25]:
#Check if the missing values in column "episode season" are related to "deal shark". Closed deals by DJ are overrepresented.
shark_merged_copy[shark_merged_copy["episode_season"].isna()]["Deal_Shark"].value_counts()

DJ           14
MC            8
LG            7
RH            4
BC            3
Others        3
BC+MC         2
DJ+KOL+RH     2
LG+RH         2
LG+MC         1
MC+RH         1
DJ+KOL        1
KOL+RH        1
KOL+LG        1
KOL+MC        1
Name: Deal_Shark, dtype: int64

In [26]:
#Check if the missing values in column "episode_season" are related to "Deal_Status". No relation could be established due to an even distribution of deals closed and not closed.
shark_merged_copy[shark_merged_copy["episode_season"].isna()]["Deal_Status"].value_counts()

0    52
1    51
Name: Deal_Status, dtype: int64

In [27]:
#Check relation of missing values of "episode season" (from shark_ent) and "Season_Epi_code" (from shark_inv). Some episodes are listed multiple times.
shark_merged_copy[shark_merged_copy["episode_season"].isna()]["Season_Epi_code"].value_counts()

310    3
419    3
513    3
315    3
423    3
      ..
106    1
424    1
421    1
420    1
512    1
Name: Season_Epi_code, Length: 68, dtype: int64

In [28]:
#Drop duplicate rows in column "Season_Epi_code"

shark_merged_copy["Season_Epi_code"].drop_duplicates(keep = "first", inplace = True)

In [35]:
shark_merged_copy.isna().sum()

Season_Epi_code                  0
Pitched_Business_Identifier      0
Pitched_Business_Desc            0
Deal_Status                      0
Deal_Shark                     242
deal                           103
description                    103
episode                        103
category                       103
entrepreneurs                  156
location                       103
website                        135
askedfor                       103
exchangeforstake               103
valuation                      103
season                         103
shark1                         103
shark2                         103
shark3                         103
shark4                         103
shark5                         103
title                          103
episode_season                 103
multiple_entreprenuers         103
dtype: int64

In [31]:
shark_merged_copy[shark_merged_copy["episode_season"].isna()]["Season_Epi_code"].value_counts()

310    3
419    3
513    3
315    3
423    3
      ..
106    1
424    1
421    1
420    1
512    1
Name: Season_Epi_code, Length: 68, dtype: int64

## Change column names

In [51]:
#Make everything lowercase
shark_merged_copy.columns.str.lower()

Index(['season_epi_code', 'pitched_business_identifier',
       'pitched_business_desc', 'deal_status', 'deal_shark', 'deal',
       'description', 'episode', 'category', 'entrepreneurs', 'location',
       'website', 'askedfor', 'exchangeforstake', 'valuation', 'season',
       'shark1', 'shark2', 'shark3', 'shark4', 'shark5', 'title',
       'episode_season', 'multiple_entreprenuers'],
      dtype='object')

In [56]:
#Insert underscores and correct typos
shark_merged_copy.columns = ['season_epi_code', 'pitched_business_identifier', 'pitched_business_desc', 'deal_status', 'deal_shark', 'deal',
       'description', 'episode', 'category', 'entrepreneurs', 'location', 'website', 'asked_for', 'exchange_for_stake', 'valuation', 'season',
       'shark1', 'shark2', 'shark3', 'shark4', 'shark5', 'title','episode_season', 'multiple_entrepreneurs']

In [57]:
shark_merged_copy.head()

,season_epi_code,pitched_business_identifier,pitched_business_desc,deal_status,deal_shark,deal,description,episode,category,entrepreneurs,...,valuation,season,shark1,shark2,shark3,shark4,shark5,title,episode_season,multiple_entrepreneurs
212,629,Bee Thinking,beehives in various modern designs . Matt Reed...,0,NaN,False,Bee Thinking crafts beautiful bee hives in Por...,24.0,Professional Services,Matt Reed,...,4000000.0,6.0,Lori Greiner,Robert Herjavec,Kevin O'Leary,Daymond John,Mark Cuban,Bee Thinking,6-24,False
213,629,Budsies,a company that creates custom plush toys based...,0,NaN,False,Budsies magically transforms any artwork into ...,24.0,Toys and Games,Alex Furmansky,...,2000000.0,6.0,Lori Greiner,Robert Herjavec,Kevin O'Leary,Daymond John,Mark Cuban,Budsies,6-24,False
214,629,Forus Athletics,workout and athletic shoes,0,NaN,False,Lightweight yet supportive and extremely comfo...,24.0,Men and Women's Shoes,Joel Vinocur and Arsene Millogo,...,1333333.0,6.0,Lori Greiner,Robert Herjavec,Kevin O'Leary,Daymond John,Mark Cuban,Forus Athletics,6-24,True
215,629,PullyPalz,a pulley system to keep two pacifiers availabl...,1,LG,True,A baby toy that helps them retrieve dropped pa...,24.0,Baby and Child Care,Julie Thompson,...,500000.0,6.0,Lori Greiner,Robert Herjavec,Kevin O'Leary,Daymond John,Mark Cuban,PullyPalz,6-24,False
216,628,BeeSweet Lemonade,honey-sweetened lemonade with flaxseed,1,DJ,True,BeeSweet Lemonade uses locally sourced honey. ...,23.0,Non-Alcoholic Beverages,Mikaila and Theo Ulmer,...,600000.0,6.0,Lori Greiner,Robert Herjavec,Kevin O'Leary,Daymond John,Mark Cuban,BeeSweet Lemonade,6-23,True

In [121]:
shark_merged_copy.loc[shark_merged_copy["episode"]].round()

KeyError: "None of [Float64Index([24.0, 24.0, 24.0, 24.0, 23.0, 23.0, 23.0, 23.0, 25.0, 25.0,\n              ...\n               2.0,  2.0,  2.0,  2.0,  nan,  1.0,  1.0,  1.0,  1.0,  1.0],\n             dtype='float64', length=498)] are in the [index]"

Season_Epi_code                  int64
Pitched_Business_Identifier     object
Pitched_Business_Desc           object
Deal_Status                      int64
Deal_Shark                      object
deal                            object
description                     object
episode                        float64
category                        object
entrepreneurs                   object
location                        object
website                         object
askedfor                       float64
exchangeforstake               float64
valuation                      float64
season                         float64
shark1                          object
shark2                          object
shark3                          object
shark4                          object
shark5                          object
title                           object
episode_season                  object
multiple_entreprenuers          object
dtype: object

In [32]:
shark_merged_copy["entrepreneurs"]

212                          Matt Reed
213                     Alex Furmansky
214    Joel Vinocur and Arsene Millogo
215                     Julie Thompson
216             Mikaila and Theo Ulmer
                    ...
705                    Tiffany Krumins
706        Nick Friedman, Omar Soliman
707                     Darrin Johnson
708                         Tod Wilson
709                     Kevin Flannery
Name: entrepreneurs, Length: 498, dtype: object

In [34]:
shark_merged[shark_merged["entrepreneurs"].isna()]["season"].value_counts()

5.0    42
6.0    10
4.0     1
Name: season, dtype: int64

In [ ]:
shark_tank["country"] = shark_tank["location"]

In [ ]:
shark_tank["country"]